.pio
.idea

autom4te.cache
build
src/.deps
src/*.o
src/sipcalc

*~
*.log

doc/Makefile
doc/Makefile.in
include/Makefile
include/Makefile.in
src/Makefile
src/Makefile.in
Makefile
Makefile.in

aclocal.m4
compile
config.h
config.h.in
configure
config.status
depcomp
missing
mkinstalldirs
stamp-h1
